#main{
    color:white;
    overflow:hidden;
}
#top{
    background-color: rgb(37, 32, 32);
}
#rad{
    background-color: black;
}
#top p{
    float:right;
    margin:0px;
    font-size: large;
}
ul{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
#ir1{
    background-color: rgb(49, 48, 48);
}
#ir2{
   background-color: rgb(114, 109, 109); 
}

#y1{
background-color: yellowgreen;
}
#row1 ul,#row2 ul,#row3 ul,#row4 ul,#row5 ul{
    text-decoration: none;;
    float:left;
    width:20%;
    padding-inline-start: 0%;;
}

#body{
    overflow:hidden;
    margin:0px;
}

#row1{
    overflow:hidden;
}
#row2{
    overflow:hidden;
}
#row3{
    overflow:hidden;
}
#row4{
    overflow:hidden;
}
#row5{
    overflow:hidden;
}